
.top{
   
    background-color: #272828;
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.fs{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 200;
    
}
.name {
    color: white;
   
}

.names{
    font-size: 42px;
    padding-top: 40px;
}
.redes{
   
    width: 100%;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white ;
    border-top: 2px solid white ;
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: 200;
    margin-top: 2px;
    padding-top: 0px;
  

}
.ico{
    font-size: 30px;
}
.links a{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:all .4s ease;
    color: white;

}
.links a:hover{
  transform:scale(1.05);
 color:#0C63E4 ; 
 text-shadow:3px 2px 2.5px rgb(0, 0, 0);
}
.githubm:hover{
  color: black;
}

/* .d{
    display: flex;
    align-items: center;
} */
.home{
    width: 67vw;
    /* height: 150vh; */
    border-radius: 20px;
    box-shadow: 0px -7px 25px 4px rgba(61,61,61,0.44);
    background-color: rgb(248, 246, 244);
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    
}
#mb {
    width: 400px;
    text-align: center;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
   
  }
  
  #mb > path {
    stroke: white;
    stroke-width: 5px;
  }
  #fs {
    width: 400px;
    margin: 140px auto 0;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  #fs > path {
    stroke: white;
    stroke-width: 5px;
    
  }

  .btn-land{
    width: 200px;
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  
  }
  .btn-land button{
    background-color: rgb(138, 138, 138);
    border: none;
    transition: all 0.5s;
  }
  .btn-land button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
  }
  .land {
   
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    
  }

  @media (max-width: 450px) {
    #mb {
        width: 300px;
    }
    #fs {
      width: 300px;
      margin: 100px auto 0;
    }
    .btn-land{
      width: 180px;

    }
}
@media (max-width: 325px) {
  #mb {
      width: 250px;
      padding-left: 50px;
  }
  #fs {
    width: 250px;
    margin: 65px auto 0;
    padding-left: 50px;
  }
  .btn-land{
    width: 180px;

    margin-left: 100px;

  }
  .land{
    height: 114vh;
    width: 114vw;

  }
}

  